/**
*
* Pages
*
**/

@import "pages";

/* Uncomment if you have a custom home page
@import "home";*/

// home styles


.whyMerit {
    
    text-align:center;
    position: relative;

    
    h2 {
        font-family:Lato;
        font-size:40px;
        position: relative;
        margin-top:0;
        padding-top:0;
    }
}


.verticalLine1 {
    width:1px;
    height:350px;
    background-color:#C0C0C0;
    border-left:2px solid #C0C0C0;
    position: absolute;
    left:50%;
    top:15%;
}

.verticalLine2 {
    width:1px;
    height:350px;
    background-color:#C0C0C0;
    border-left:2px solid #C0C0C0;
    position: absolute;
    left:50%;
    bottom:0%;
}

.horizontalLine {
    width:100%;
    height:1px;
    background-color:#C0C0C0;
    border-left:2px solid #C0C0C0;
    position: absolute;
    
    bottom:42.5%;
}


.block1 {
    position: absolute;
    left:-5%;
}

.block2 {
    position: absolute;
    left:5%;
}

.block3 {
    position: absolute;
    left:-5%;
    bottom:-50px;
}

.block4 {
    position: absolute;
    left:5%;
    bottom:-50px;
}

.whyBlock {
    float: left;
    width: 48%;
    margin: 1%;
    position: relative;
    text-align:center;
    min-height:350px;

    img {
        width:30%;
    }

    h2 {
        text-align: center;
        margin:0;
        padding:0;
        color:#39BFC2;
        font-family:lato;
        font-weight:700;
        font-size:20px;
        line-height:1;
        margin-top:25px;
        margin-bottom:20px;
    }

    p {
        text-align: center;
        margin:0;
        width:75%;
        margin-left:12.5%;
        font-family:lato;
        font-weight:300;
        font-size:18px;
        min-height:200px;
    }

    .number {
        width:100px;
        height:50px;
        z-index:5;
        background-position:center;
        background-size:contain;
        background-repeat:no-repeat;
    }


}


.video {
    height:50vh;
    background:#39BFC2;
    margin-top:100px;
    text-align:center;
}




.howMerit {
    text-align: center;
    background:#F2F2F2;
    text-align:center;

    h2 {
        font-family:lato;
        color:#1E455E;
        font-size:45px;
        margin-bottom:100px;
    }

    h3 {
        padding-bottom:25px;
        color:#1E455E;
    }

    img {
        padding-bottom:25px;
        width:100%;
        text-align:center;
    }

    img.arrow {
        width:5%;
    }
}


.inputExplained {
    background: white;
    position: relative;
    // also action / follow up 

    .interiorLeft {
        width:50%;
        float:left;
    }

    .interiorRight {
        width:50%;
        float:right;
    }

    h2 {
        float: left;
        color: #1E455E;
        font-weight:700;
        padding-top: 10vh;
        position: relative;
           
    }

    h2:before {
        content : " ";
        position: absolute;
        left:0;
        bottom:-35px;
        height:1px;
        width:60px;
        border-bottom:4px solid #1E455E;

    }

    img {
        float:left;
        clear:both;
        position: relative;
        left:-10px;
    }

    p {
        float: right;
        clear: right;
        padding-top: 10vh;
        padding-bottom: 10vh;
        font-family:lato;
        font-weight:300;
        width:80%;
        color:#1E455E;
    }
}

.outputExplained {
    background:#E7E7E8;

    .interiorLeft {
        width:50%;
        float:left;
    }

    .interiorRight {
        width:50%;
        float:right;
    }

    position: relative;
    h2 {
        float: right;
        left:-150px;
        text-align: right;
        color: #1E455E;
        font-weight:700;
        position: relative;
        top: 25px;
    }

    h2:before {
        content : " ";
        position: absolute;
        right:160px;
        bottom:-35px;
        height:1px;
        width:60px;
        border-bottom:4px solid #1E455E;
            
    }

    img {
        float:right;
        left:0;
        bottom:-20px;
        position:relative;
    }

    p {
        float: left;
        clear: left;
        padding-top: 10vh;
        padding-bottom: 10vh;
        font-family:lato;
        font-weight:300;
        width:80%;
        color:#1E455E;
    }
}


.testimonial {
    height: 60vh;
    text-align: center;
    position: relative;
    background-position: center;

    .testimonialType {
        position: absolute;
        top: 30%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        color: #fff;

        h2 {
            font-weight:700;
        }
    }
}

.actionExplained, .inputExplained, .outputExplained {
    padding-top:5vh;
    padding-bottom:5vh;
    h2 {
        font-size: 60px;
        line-height: 1;
        padding-top: 6vh;
    }
}

.freeDemo {
    background: #4EC1C2;
    height: 35vh;
    text-align: center;
}



// blog styles

h1.entry-title {
	text-align:center;
}

h2.entry-title a {
    color: #000;
    text-align:center;
}

.entry-meta a {
    color: #000;
}


