#home-header {
	margin-bottom: 45px;
	position: relative;
	z-index: 250;
	height:90vh;

}

.page-id-18 #site-header {
	background:#39BFC2;
	height:60vh;
}

header {
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;

	h2 {
		text-align:center;
	}

	h3 {
		text-align:center;
	}
}


#home-header h2 {
	text-align:center;
	padding-top:15vh;
	color:#fff;
	font-size:50px;
	font-family:lato;
	line-height:1.2;
	font-weight:900;
	padding-bottom:5px;
	margin-bottom:0;
}

#home-header h3 {
	text-align:center;
	color:#fff;
	font-weight:100;
}

.requestDemo {
	text-align:center;
}

.requestDemo a {
	text-align:center;
	padding:10px 15px;
	background:#41BFC2;
	border-radius:5px;
	color:#fff;
	text-transform:uppercase;
	font-size:14px;
	letter-spacing:1px;
	transition:0.35s all ease-in-out;

	&:hover {
		color:white;
		border:1px solid white;
		background:transparent;
	}
}

.requestDemoTour a {
	background:#1E455E;
}

.dividerLine {
	width:75px;
	height:3px;
	background:transparent;
	border-bottom:3px solid white;
	text-align:center;
	display:block;
	margin:0 auto;
	margin-bottom:50px;
}

.dividerLineBlue {
	width:75px;
	height:3px;
	background:transparent;
	border-bottom:3px solid #1E455E;
	text-align:center;
	display:block;
	margin:0 auto;
	margin-bottom:50px;
}

#blog {
background:red;
}
